@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&family=Nunito:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 1rem 'Inter', 'sans-serif';
    font-weight: 400;
    line-height: 1.6;
    background: black;
    color: white;
}
header{
    display: grid;
    margin: 50px 0px 200px 0px;
    justify-content: center;
    align-items: center;
}
.Banner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}
.Menu{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Ajustes para las listas hijas de la clase "Menu". */
.Menu > ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 25px 35px 25px;
    gap: 33px;
}
.Menu > ul > li{
    /* Posición relativa respecto a la del padre. */
    position: relative;
}
.Submenu, .Submenu2, .Submenu2_2, .Submenu3, .Submenu3_2{
    display: none;
    /* Se posiciona/coloca debajo del elemento padre. */
    top: 100%;
    /* Se alinea con con el borde izquierdo respecto al padre. */
    left: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.Submenu{
    top: 100%;
    left: 0;
    position: absolute;
    margin-bottom: 10px;
    z-index: 2;
}
.Submenu li{
    width: 350px;
    padding: 5px;
}
.Submenu2, .Submenu2_2, .Submenu3, .Submenu3_2{
    left: 100%;
    z-index: 3;
}
.Submenu2{
    top: 0%;
    left: 105%;
    width: 250px;
}
.Submenu2_2{
    top: 45%;
    left: 100%;
    width: 200px;
}
.Submenu3, .Submenu3_2{
    left: 100%;
    width: 280px;
    justify-content: center;
    align-items: center;
}
.Submenu3{
    top: 0%;
}
.Submenu3_2{
    top: 50%;
}
main{
    height: 100%;
    position: relative;
    padding-bottom: 700px;
    border-bottom: 2px solid white;
}
.Bienvenida{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin-bottom: 70px;
}
.Indice{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin: 300px 0px 500px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 25px 50px 25px;
}
.Titulo{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}
article{
    text-align: justify;
    margin: 150px 0px;
    padding: 50px 0px;
}
section > article{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 25px;
}
.ConceptosImportantes{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}
.Destacados{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 15px;
    margin: 35px;
    gap: 20px;
}
.Destacados article{
    max-width: 400px;
    display: grid;
    grid-template-rows: auto 1fr  auto;
    background: #f8f9faae;
    text-align: center;
    padding: 20px;    
    border-radius: 10px;
}
.Intro{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#Acciones{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 35px 25px 100px 25px;
}
.Grafico{
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
}
footer div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Direcciones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.Indice ul{
    /* Hace que los puntos se alineen dentro del contenido del <li>, en lugar de estar fuera del margen. */
    list-style-position: inside;
    font-weight: 700;
}
/* Aplica estilos a los elementos "li" impares "odd", dentro de la lista "ul" de la clase "Indice". */
.Indice ul li:nth-child(odd){
    /* Muestra los puntos. */
    list-style-type: "$ ";
    color: #A8D08D;
}
/* Aplica estilos a los elementos "li" pares "even", dentro de la lista "ul" de la clase "Indice". */
.Indice ul li:nth-child(even){
    list-style-type: "€ ";
    color: #FFE680;
}
.ConceptosImportantes li{
    margin-bottom: 100px;
}
.Indice li{
    padding-bottom: 10px;
}
h1, h2{
    font-family: 'Playfair Display', 'serif';
    font-weight: 700;
}
h1{
    font-size: 3.2rem;
    color: white;
}
h2{
    font-size: 2rem;
}
.Indice h2{
    font-size: 2.2rem;
}
.Bienvenida h2{
    margin-bottom: 10px;
}
.Indice h2{
    margin-bottom: 20px;
}
#Acciones h2{
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
h3{
    font-size: 1.7rem;
    margin-bottom: 15px;
}
.ConceptosImportantes h3{
    width: 100%;
}
article h3{
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}
.Destacados h3{
    padding: 25px 40px 25px 40px;
    margin-top: 20px;
    font-size: 1.33em;
}
h4{
    text-align: center;
    font-size: 1.35rem;
    margin-bottom: 25px;
}
h6{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 50px;
}
a, button{
    font-family: 1.1rem 'Nunito', 'sans-serif';
    font-weight: 600;
}
button{
    padding: 10px 20px;
}
a{
    text-decoration: none;
    color: white;
}
.Menu a{
    font-size: 1.3rem;
    margin: 0px 20px;
}
.Menu li a{
    margin: 0px 10px;
}
.Indice a{
    font-size: 1.5rem;
}
.Destacados a{
    grid-row: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    background: #007bff;
    padding: 6px;
    border-radius: 5px;
}
p{
    font: 1.25rem 'Inter', 'sans-serif';
    font-weight: 400;
    line-height: 1.6;
}
article p{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}
.Destacados p{
    grid-row: 2;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.2rem;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 15px 0 10px 0px;
}
footer p{
    text-align: justify;
    font-size: 1em;
    margin-top: 70px;
}
img{
    width: 100px;
    height: 100px;
}
header img{
    width: 20px;
    height: 20px;
}
.Destacados img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
header .Logo{
    width: 70px;
    height: 70px;
    margin-right: 33px;
}
footer .Logo{
    width: 400px;
    height: 400px;
    margin: 0px 80px 0px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
}